<%= form_with(model: article,class:'form-signin') do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title,required: true ,class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content ,required: true ,class:'form-control'%>
  </div>

  <div class="field">
    <%= form.label :picture %><br>
    <%= form.file_field :picture ,class:'form-control-file my-3'%>
  </div>

  <div class="actions">
      <%= form.submit class:"btn btn-lg btn-primary btn-block" %>
  </div>
  
<%= link_to 'Back', articles_path,class:"form-control my-3"%>
<% end %>
