<%content_for :title, "User | Create profile"%>
<div class='container'>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign up with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider),method: :post,class:"btn btn-lg btn-info my-3" %>
  <% end -%>
<% end -%>
</div>
<div class='container'>
<h2>Sign up</h2>
<%= javascript_pack_tag 'custom.js' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),class: "form-signin") do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, required: true, class: 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",required: true, class:'form-control' %>
  </div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",required: true,class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",required: true,class:'form-control'%>
  </div>

<%
=begin%>
  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <%
=end%>

  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">

  <div class="field">
  <%=f.label :role%>
    <%= select_tag(:role, options_for_select(
      [['admin', 'admin'], ['editor', 'editor'], ['normal_user', 'normal_user']],'normal_user'
    ),class:'form-control') %>
  </div>

      <%= f.submit "Sign up",class:"btn btn-lg btn-primary btn-block form-control my-3" %>
      <div>
<% end %>

<%# <%= render "devise/shared/links" %>

</div>